* {
	box-sizing: border-box;
}
body,
html {
	overflow-x: hidden;
}

/* Overwrite daisyUI card padding */
.p-10 {
	padding: 2.5rem !important;
}

.header-bg {
	background-image: url(./assets/banner.jpg);
	background-position: center;
}

.swiper-pagination-bullet {
	background-color: #ccc; /* Default color of the dots */
	opacity: 1; /* Ensure the dots are fully visible */
	transition: background-color 0.3s ease; /* Smooth color change */
}

.swiper-pagination-bullet-active {
	background-color: orangered; /* Color for the active dot */
}

.swiper-brands-wrapper,
.swiper-partners-wrapper {
	overflow: hidden;
	width: 1100px;
}

.custom-icon {
	font-size: 24px; /* Adjust size as needed */
}

.texture-bg {
	background-image: url("../assets/awa-bf.png");
}

/* meet the team member section */
.img-area {
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.img-text,
.img-area::after {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: 0.5s all ease-in-out;
}

.img-area::after {
	content: "";
	height: 100%;
	top: 0;
}

.img-area:hover::after {
	opacity: 1;
	background: linear-gradient(
		to bottom,
		rgba(58, 56, 57, 0.01) 0,
		rgba(74, 71, 72, 0.25) 25%,
		rgba(37, 36, 36, 0.75) 75%,
		rgba(52, 48, 49, 0.95) 95%
	);
}

.img-text {
	padding: 20px;
	margin-bottom: 20px;
	bottom: 0;
	z-index: 1;
	transform: translateY(145px);
	transition: all 0.5s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}

.img-area:hover .img-text {
	opacity: 1;
	transform: translate(0);
}

/* Container to position video and overlay */
.video-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

/* Full-screen video styling */
.background-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensures the video covers the screen without distortion */
	z-index: -2; /* Keeps the video in the background */
}

/* Dark overlay styling */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
	z-index: -1; /* Positioned above the video but below the text */
}

/* Content styling */
.content {
	position: relative;
	z-index: 1; /* Keeps the content above the overlay and video */
	color: white;
	text-align: start;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 16%;
}

.content h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.content p {
	font-size: 3rem;
	font-size: large;
}

.cog-map-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cog-map-left {
	background-image: url("./assets/map3.jpg");
}
.cog-map-right {
	background-image: url("./assets/map1-1.jpg");
}
